{%- paginate blog.articles by 21 -%}

{%- assign blog_title = blog.title -%}

{% if current_tags %}
  {% capture blog_title %}{{ current_tags.first }}{% endcapture %}
{% endif %}

<div data-section-id="{{ section.id }}" data-section-type="blog">
  <div class="page-width page-content" style="padding-top: 0">

    {%- render 'breadcrumbs' -%}

    <div class="collection-title" style="background-image: url({{ 'hero-bg.jpg' | asset_url }})" >
      <h1 class="h1 text-center" style="color: #fff; margin: 0">{{ blog_title }}</h1>
    </div>



      {% if blog.all_tags.size > 0 %}

      <ul class="nav--blog relative pl-0 ml-0">
        <div class="container flex lg:justify-center items-center padding-top-0 overflow-x-auto" style="-ms-overflow-style: none; scrollbar-width: none;">
          {% for tag in blog.all_tags %}
      
            {% if current_tags contains tag %}
           
              <li class="main-menu__link" style="white-space: nowrap;">{{ tag }}</li>
            {% else %}
              <li class="main-menu__link" style="white-space: nowrap;">{{ tag | link_to_tag: tag }}</li>
      
            {% endif %}
      
          {% endfor %}
        </div>
      </ul>
      {% endif %}



      {%- if section.settings.blog_show_tag_filter and blog.tags.size > 0 -%}
        <select id="BlogTagFilter">
          <option value="/blogs/{{ blog.handle }}">All</option>
          {%- for tag in blog.all_tags -%}
            {% if tag contains "_" %}{%- assign tag_starts_with = tag | slice: 0 -%}{% if tag_starts_with == "_" %}{% if tag_count %}{%- assign tag_count = tag_count | minus: 1 | at_least: 0 -%}{% endif %}{% continue %}{% endif %}{% endif %}
            <option value="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" {% if current_tags contains tag %}selected{% endif %}>{{ tag }}</option>
          {%- endfor -%}
        </select>
      {%- endif -%}
    </header>

    <div class="grid grid--uniform">
      {%- for article in blog.articles -%}
        {%- render 'article-grid-item', article: article, grid_item_width: 'medium-up--one-third', per_row: '3', image_size: section.settings.blog_image_size -%}
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}

  </div>
</div>

{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.blog-template.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "blog_show_tag_filter",
      "label": "t:sections.blog-template.settings.blog_show_tag_filter.label"
    },
    {
      "type": "checkbox",
      "id": "blog_show_rss",
      "label": "t:sections.blog-template.settings.blog_show_rss.label"
    },
    {
      "type": "checkbox",
      "id": "blog_show_tags",
      "label": "t:sections.blog-template.settings.blog_show_tags.label"
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "t:sections.blog-template.settings.blog_show_date.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_comments",
      "label": "t:sections.blog-template.settings.blog_show_comments.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": "t:sections.blog-template.settings.blog_show_author.label"
    },
    {
      "type": "checkbox",
      "id": "blog_show_excerpt",
      "label": "t:sections.blog-template.settings.blog_show_excerpt.label"
    },
    {
      "type": "select",
      "id": "blog_image_size",
      "label": "t:sections.blog-template.settings.blog_image_size.label",
      "default": "wide",
      "options": [
        {
          "value": "natural",
          "label": "t:sections.blog-template.settings.blog_image_size.options.natural.label"
        },
        {
          "value": "square",
          "label": "t:sections.blog-template.settings.blog_image_size.options.square.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.blog-template.settings.blog_image_size.options.landscape.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.blog-template.settings.blog_image_size.options.portrait.label"
        },
        {
          "value": "wide",
          "label": "t:sections.blog-template.settings.blog_image_size.options.wide.label"
        }
      ]
    }
  ]
}
{% endschema %}
